<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Student</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <center><h1 class="mt-4 display-3">Student Management System</h1></center><hr class="bg-dark">
       
        <nav class="mt-3">
            <div class="container">
                <h1 class="mt-5">Update Student</h1>
                <form action="/update" method="post" class="mt-3 col-6">
                    <div class="form-group">
                        <label for="roll_no">Roll No:</label>
                        <input type="text" id="roll_no" name="roll_no" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="new_name">New Name:</label>
                        <input type="text" id="new_name" name="new_name" class="form-control" required>
                    </div>
                    <div class="mt-3 text-right">
                        <button data-bs-target="#successModal" type="submit" class="btn btn-success">Submit</button>
                    </div>
                </form>
                <a href="/"  class="btn btn-dark">Back to Home</a>
            </div>
        </nav>
    </div>

</body>
</html>
